header {
    background-color: black;
    height: 50px;
}

#ford{
    width: 300px;
}

#gt{
    color: red;
}

#ttt{
    border: 20px;
}

#g {
    width: 20px;
}

#gg {
    width: 60px;
}

footer {
    background-color: black;
    height: 100px;
}

#gj {
    width: 200px;
}

#yt {
    color: aliceblue;
}